/* line 7, kekespro.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  color: #444;
  line-height: 1.2; }

/* line 14, kekespro.scss */
body {
  margin: 0; }

/* line 18, kekespro.scss */
a {
  color: #3190EB;
  text-decoration: none;
  font-weight: 400; }
  /* line 22, kekespro.scss */
  a:hover {
    text-decoration: underline; }

/* line 26, kekespro.scss */
#ex1 {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding: 5px; }

/* line 32, kekespro.scss */
#ex1 p {
  color: #000; }

/* line 35, kekespro.scss */
span.icon_clear {
  position: relative;
  top: 0px;
  right: 46px;
  display: inline;
  opacity: 0;
  cursor: pointer;
  font: 1em sans-serif;
  color: #ccc; }

/* hakufilter */
/* line 46, kekespro.scss */
span.icon_clear:hover {
  color: black; }

/* line 49, kekespro.scss */
header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #383838;
  z-index: 1;
  width: 100%;
  opacity: 0.95; }
  /* line 58, kekespro.scss */
  header .searchTools {
    position: absolute;
    top: 25px;
    display: inline-block; }
  /* line 63, kekespro.scss */
  header label {
    display: inline; }

/* line 67, kekespro.scss */
h1, h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em; }
  /* line 71, kekespro.scss */
  h1 a, h2 a {
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit; }

/* line 78, kekespro.scss */
h1 {
  padding: 30px;
  display: none;
  color: white; }

/* line 83, kekespro.scss */
h2 {
  padding: 30px 0px 30px 0px;
  display: inline-block; }

/* line 87, kekespro.scss */
b {
  font-weight: 600; }

/* line 90, kekespro.scss */
mark {
  color: #444;
  font-weight: 400;
  background-color: #ffdd33; }

/* line 95, kekespro.scss */
label {
  margin-top: 5px;
  display: block;
  font-weight: 300; }

/* line 100, kekespro.scss */
input[type="text"], textarea {
  display: inline-block;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: #444;
  border: 1px solid #ccc;
  margin: 5px 0;
  width: 230px; }
  /* line 109, kekespro.scss */
  input[type="text"]::before, textarea::before {
    content: "x";
    color: red; }
  /* line 113, kekespro.scss */
  input[type="text"]:focus, textarea:focus {
    background-color: #fafcff;
    border: 1px solid #88aaee; }
  /* line 117, kekespro.scss */
  input[type="text"].invalid + .required, textarea.invalid + .required {
    display: inline-block; }

/* Base for label styling */
/* line 123, kekespro.scss */
[type="checkbox"] {
  position: absolute;
  left: -9999px; }

/* line 127, kekespro.scss */
[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  color: white; }

/* checkbox aspect */
/* line 134, kekespro.scss */
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 1px; }

/* checked mark aspect */
/* line 145, kekespro.scss */
[type="checkbox"] + label:after {
  content: '\2713';
  position: absolute;
  top: -13px;
  left: 4px;
  font-size: 32px;
  color: #3190EB;
  transition: all .1s; }

/* checked mark aspect changes */
/* line 155, kekespro.scss */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

/* line 159, kekespro.scss */
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* hover style just for information */
/* line 164, kekespro.scss */
label:hover {
  text-decoration: underline; }

/* line 169, kekespro.scss */
#showOnlyBasketContents {
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-radius: 1px;
  position: relative;
  top: 0; }
  /* line 179, kekespro.scss */
  #showOnlyBasketContents.active {
    background: #C4E8FF;
    padding: 9px 10px 11px 10px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    border-top: 1px solid #bbb;
    top: 1px; }
  /* line 188, kekespro.scss */
  #showOnlyBasketContents:focus {
    outline: none; }

/* line 193, kekespro.scss */
.required {
  display: none;
  color: red;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 15px; }

/* line 201, kekespro.scss */
input[type="button"] {
  display: block;
  outline: none;
  cursor: pointer;
  height: 3em;
  margin: 5px 0;
  font-weight: 400;
  font-size: 1em;
  background-color: #C4E8FF;
  border: 1px solid #8CC2E5;
  color: #444; }
  /* line 212, kekespro.scss */
  input[type="button"]:hover:not(:disabled) {
    color: #000;
    background-color: #AFE0FF; }
  /* line 216, kekespro.scss */
  input[type="button"]:disabled {
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
    background: #eee; }

/* line 223, kekespro.scss */
.columnsContainer {
  position: relative;
  margin: 7em .5em .5em .5em; }

/* line 227, kekespro.scss */
.leftColumn, .rightColumn {
  padding: .25em; }

/* line 230, kekespro.scss */
.leftColumn {
  margin-bottom: .5em; }

/* line 233, kekespro.scss */
.rightColumn {
  background: #e7e7e7;
  clear: both;
  z-index: 10; }

/* line 238, kekespro.scss */
#results {
  padding: 0; }
  /* line 240, kekespro.scss */
  #results .productresult {
    border-collapse: collapse;
    width: 50%;
    float: left;
    position: relative;
    cursor: pointer;
    min-height: 18em; }
    /* line 247, kekespro.scss */
    #results .productresult .selected {
      display: none; }
    /* line 251, kekespro.scss */
    #results .productresult.inBasket .selected {
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      background: #666;
      color: white;
      border-radius: 15px;
      font-size: 1.4em;
      font-weight: 600;
      text-align: center;
      padding: 3px 10px; }
    /* line 265, kekespro.scss */
    #results .productresult .overlay {
      display: none; }
    /* line 269, kekespro.scss */
    #results .productresult:hover .overlay {
      border: 4px solid #bbb;
      border-radius: 5px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: #f9f9f9;
      opacity: .25;
      display: block;
      position: absolute;
      top: -2px;
      left: -2px; }
      /* line 280, kekespro.scss */
      #results .productresult:hover .overlay .plus {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7em;
        font-weight: 600;
        color: black;
        text-align: center; }
    /* line 293, kekespro.scss */
    #results .productresult .hinta {
      font-weight: 600;
      margin-top: 7px;
      min-height: 1.2em; }
    /* line 298, kekespro.scss */
    #results .productresult .li-img {
      vertical-align: middle; }
      /* line 300, kekespro.scss */
      #results .productresult .li-img img {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px; }
    /* line 307, kekespro.scss */
    #results .productresult .li-text {
      vertical-align: middle;
      min-height: 6em; }
    /* line 311, kekespro.scss */
    #results .productresult .li-head {
      margin: 0px 0px 10px 0px;
      font-weight: 400;
      min-height: 2.4em; }
    /* line 316, kekespro.scss */
    #results .productresult .li-sub {
      margin: 0; }

/* line 322, kekespro.scss */
#ostoskoripainike {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  background-color: white;
  text-transform: uppercase; }

/* line 332, kekespro.scss */
.urlToBasket {
  float: left;
  margin: 10px 0; }

/* line 336, kekespro.scss */
.emptyBasket {
  float: right;
  margin: 10px;
  display: none; }

/* line 341, kekespro.scss */
#basketcontents {
  clear: both;
  line-height: 1.35em;
  font-weight: 300; }
  /* line 345, kekespro.scss */
  #basketcontents b {
    display: block; }
  /* line 348, kekespro.scss */
  #basketcontents .itemRow {
    padding: 5px 0; }
    /* line 350, kekespro.scss */
    #basketcontents .itemRow .reduce {
      cursor: pointer;
      float: right;
      padding: 4px 7px;
      margin-right: 3px;
      border-radius: 15px; }
      /* line 356, kekespro.scss */
      #basketcontents .itemRow .reduce:hover {
        background: #ccc; }
    /* line 360, kekespro.scss */
    #basketcontents .itemRow .amount {
      display: block;
      font-weight: 600; }
    /* line 364, kekespro.scss */
    #basketcontents .itemRow .productName {
      display: block;
      padding: 3px 0; }
    /* line 368, kekespro.scss */
    #basketcontents .itemRow .description {
      display: block;
      font-size: 14px; }
  /* line 373, kekespro.scss */
  #basketcontents .totalPrice {
    font-weight: 600;
    margin: 10px 10px 10px 0;
    text-align: right;
    padding: 5px 0;
    border-top: 1px solid black; }

/* line 382, kekespro.scss */
#productResultTemplate, #basketItemTemplate {
  display: none; }

/* line 386, kekespro.scss */
.h1end {
  display: none; }

@media all and (min-width: 35em) {
  /* line 393, kekespro.scss */
  body {
    color: #444;
    font-weight: 200; }

  /* line 397, kekespro.scss */
  h1 {
    display: none; }

  /* line 400, kekespro.scss */
  header, .leftColumn {
    margin-right: 16em; }

  /* line 403, kekespro.scss */
  .rightColumn {
    position: fixed;
    width: 150px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    width: 17em;
    padding-left: 1em; }

  /* line 413, kekespro.scss */
  #results {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0 auto;
    overflow: hidden; }
    /* line 420, kekespro.scss */
    #results .productresult {
      padding: 1em;
      display: block;
      width: 50%;
      float: left;
      background: none;
      border: 0; }
      /* line 427, kekespro.scss */
      #results .productresult .li-head {
        min-height: initial; }
      /* line 430, kekespro.scss */
      #results .productresult .li-img, #results .productresult .li-text {
        display: block;
        width: auto;
        padding: 0; }

  /* line 437, kekespro.scss */
  #ostoskoripainike {
    display: none; }

  /* line 440, kekespro.scss */
  .h1end {
    display: block; } }
@media all and (min-width: 50em) {
  /* line 445, kekespro.scss */
  h1 {
    display: inline-block; }

  /* line 448, kekespro.scss */
  .results .productresult {
    width: 33%; }

  /* line 451, kekespro.scss */
  .leftColumn {
    margin-right: 19.5em; }

  /* line 454, kekespro.scss */
  .rightColumn {
    width: 20em;
    padding-left: 1.5em; } }
@media all and (min-width: 60em) {
  /* line 460, kekespro.scss */
  #results .productresult {
    width: 33%; } }
@media all and (min-width: 70em) {
  /* line 465, kekespro.scss */
  #results .productresult {
    width: 25%; } }
@media all and (min-width: 90em) {
  /* line 470, kekespro.scss */
  #results .productresult {
    width: 20%; } }
@media all and (min-width: 100em) {
  /* line 475, kekespro.scss */
  #results .productresult {
    width: 16.66%; } }
@media all and (min-width: 120em) {
  /* line 480, kekespro.scss */
  #results .productresult {
    width: 12.5%; } }

/*# sourceMappingURL=kekespro.css.map */
