/* line 5, kekespro.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  color: #444;
  line-height: 1.2; }

/* line 12, kekespro.scss */
body {
  margin: 0; }

/* line 16, kekespro.scss */
a {
  color: #3190ED;
  text-decoration: none;
  font-weight: 400; }
  /* line 20, kekespro.scss */
  a:hover {
    text-decoration: underline; }

/* line 24, kekespro.scss */
#ex1 {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding: 5px; }

/* line 30, kekespro.scss */
#ex1 p {
  color: #000; }

/* line 33, kekespro.scss */
span.icon_clear {
  position: relative;
  top: 0px;
  right: 46px;
  display: inline;
  opacity: 0;
  cursor: pointer;
  font: 1em sans-serif;
  color: #ccc; }

/* hakufilter */
/* line 44, kekespro.scss */
span.icon_clear:hover {
  color: black; }

/* line 47, kekespro.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  width: 100%;
  opacity: 0.95;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee; }
  /* line 57, kekespro.scss */
  header input {
    width: 20px; }
  /* line 60, kekespro.scss */
  header label {
    display: inline; }

/* line 64, kekespro.scss */
h1, h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em; }
  /* line 68, kekespro.scss */
  h1 a, h2 a {
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit; }

/* line 75, kekespro.scss */
h1 {
  padding: 30px;
  display: none; }

/* line 79, kekespro.scss */
h2 {
  padding: 30px 0px 30px 0px;
  display: inline-block; }

/* line 83, kekespro.scss */
b {
  font-weight: 600; }

/* line 86, kekespro.scss */
mark {
  color: #444;
  font-weight: 400;
  background-color: #ffdd33; }

/* line 91, kekespro.scss */
label {
  margin-top: 5px;
  display: block;
  font-weight: 300; }

/* line 96, kekespro.scss */
input {
  width: 200px; }

/* line 99, kekespro.scss */
input[type="text"], textarea {
  display: inline-block;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: #444;
  border: 1px solid #ccc;
  margin: 5px 0;
  width: 230px; }
  /* line 108, kekespro.scss */
  input[type="text"]::before, textarea::before {
    content: "x";
    color: red; }
  /* line 112, kekespro.scss */
  input[type="text"]:focus, textarea:focus {
    background-color: #fafcff;
    border: 1px solid #88aaee; }
  /* line 116, kekespro.scss */
  input[type="text"].invalid + .required, textarea.invalid + .required {
    display: inline-block; }

/* line 121, kekespro.scss */
#showOnlyBasketContents {
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-radius: 1px;
  position: relative;
  top: 0; }
  /* line 131, kekespro.scss */
  #showOnlyBasketContents.active {
    background: #C4E8FF;
    padding: 9px 10px 11px 10px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    border-top: 1px solid #bbb;
    top: 1px; }
  /* line 140, kekespro.scss */
  #showOnlyBasketContents:focus {
    outline: none; }

/* line 145, kekespro.scss */
.required {
  display: none;
  color: red;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 15px; }

/* line 153, kekespro.scss */
input[type="button"] {
  display: block;
  outline: none;
  cursor: pointer;
  height: 3em;
  margin: 5px 0;
  font-weight: 400;
  font-size: 1em;
  background-color: #C4E8FF;
  border: 1px solid #8CC2E5;
  color: #444; }
  /* line 164, kekespro.scss */
  input[type="button"]:hover:not(:disabled) {
    color: #000;
    background-color: #AFE0FF; }
  /* line 168, kekespro.scss */
  input[type="button"]:disabled {
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
    background: #eee; }

/* line 175, kekespro.scss */
.columnsContainer {
  position: relative;
  margin: 7em .5em .5em .5em; }

/* line 179, kekespro.scss */
.leftColumn, .rightColumn {
  padding: .25em; }

/* line 182, kekespro.scss */
.leftColumn {
  margin-bottom: .5em; }

/* line 185, kekespro.scss */
.rightColumn {
  background: #eee9e5;
  clear: both;
  z-index: 10; }

/* line 190, kekespro.scss */
#results {
  padding: 0; }
  /* line 192, kekespro.scss */
  #results .productresult {
    border-collapse: collapse;
    width: 50%;
    float: left;
    position: relative;
    cursor: pointer;
    min-height: 18em; }
    /* line 199, kekespro.scss */
    #results .productresult .selected {
      display: none; }
    /* line 203, kekespro.scss */
    #results .productresult.inBasket .selected {
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      background: #666;
      color: white;
      border-radius: 15px;
      font-size: 1.4em;
      font-weight: 600;
      text-align: center;
      padding: 3px 10px; }
    /* line 217, kekespro.scss */
    #results .productresult .overlay {
      display: none; }
    /* line 221, kekespro.scss */
    #results .productresult:hover .overlay {
      border: 4px solid #bbb;
      border-radius: 5px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: #f9f9f9;
      opacity: .25;
      display: block;
      position: absolute;
      top: -2px;
      left: -2px; }
      /* line 232, kekespro.scss */
      #results .productresult:hover .overlay .plus {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7em;
        font-weight: 600;
        color: black;
        text-align: center; }
    /* line 245, kekespro.scss */
    #results .productresult .hinta {
      font-weight: 600;
      margin-top: 7px;
      min-height: 1.2em; }
    /* line 250, kekespro.scss */
    #results .productresult .li-img {
      vertical-align: middle; }
      /* line 252, kekespro.scss */
      #results .productresult .li-img img {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px; }
    /* line 259, kekespro.scss */
    #results .productresult .li-text {
      vertical-align: middle;
      min-height: 6em; }
    /* line 263, kekespro.scss */
    #results .productresult .li-head {
      margin: 0px 0px 10px 0px;
      font-weight: 400;
      min-height: 2.4em; }
    /* line 268, kekespro.scss */
    #results .productresult .li-sub {
      margin: 0; }

/* line 274, kekespro.scss */
#ostoskoripainike {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  background-color: white;
  text-transform: uppercase; }

/* line 284, kekespro.scss */
.urlToBasket {
  float: left;
  margin: 10px 0; }

/* line 288, kekespro.scss */
.emptyBasket {
  float: right;
  margin: 10px;
  display: none; }

/* line 293, kekespro.scss */
#basketcontents {
  clear: both;
  line-height: 1.35em;
  font-weight: 300; }
  /* line 297, kekespro.scss */
  #basketcontents b {
    display: block; }
  /* line 300, kekespro.scss */
  #basketcontents .itemRow {
    padding: 5px 0; }
    /* line 302, kekespro.scss */
    #basketcontents .itemRow .reduce {
      cursor: pointer;
      float: right;
      padding: 4px 7px;
      margin-right: 3px;
      border-radius: 15px; }
      /* line 308, kekespro.scss */
      #basketcontents .itemRow .reduce:hover {
        background: #ccc; }
    /* line 312, kekespro.scss */
    #basketcontents .itemRow .amount {
      display: block;
      font-weight: 600; }
    /* line 316, kekespro.scss */
    #basketcontents .itemRow .productName {
      display: block;
      padding: 3px 0; }
    /* line 320, kekespro.scss */
    #basketcontents .itemRow .description {
      display: block;
      font-size: 14px; }
  /* line 325, kekespro.scss */
  #basketcontents .totalPrice {
    font-weight: 600;
    margin: 10px 10px 10px 0;
    text-align: right;
    padding: 5px 0;
    border-top: 1px solid black; }

/* line 334, kekespro.scss */
#productResultTemplate, #basketItemTemplate {
  display: none; }

/* line 338, kekespro.scss */
.h1end {
  display: none; }

@media all and (min-width: 35em) {
  /* line 345, kekespro.scss */
  body {
    color: #444;
    font-weight: 200; }

  /* line 349, kekespro.scss */
  h1 {
    display: none; }

  /* line 352, kekespro.scss */
  header, .leftColumn {
    margin-right: 16em; }

  /* line 355, kekespro.scss */
  .rightColumn {
    position: fixed;
    width: 150px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    width: 17em;
    background: #eee9e5;
    padding-left: 1em; }

  /* line 366, kekespro.scss */
  #results {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0 auto;
    overflow: hidden; }
    /* line 373, kekespro.scss */
    #results .productresult {
      padding: 1em;
      display: block;
      width: 50%;
      float: left;
      background: none;
      border: 0; }
      /* line 380, kekespro.scss */
      #results .productresult .li-head {
        min-height: initial; }
      /* line 383, kekespro.scss */
      #results .productresult .li-img, #results .productresult .li-text {
        display: block;
        width: auto;
        padding: 0; }

  /* line 390, kekespro.scss */
  #ostoskoripainike {
    display: none; }

  /* line 393, kekespro.scss */
  .h1end {
    display: block; } }
@media all and (min-width: 50em) {
  /* line 398, kekespro.scss */
  h1 {
    display: inline-block; }

  /* line 401, kekespro.scss */
  .results .productresult {
    width: 33%; }

  /* line 404, kekespro.scss */
  .leftColumn {
    margin-right: 19.5em; }

  /* line 407, kekespro.scss */
  .rightColumn {
    width: 20em;
    padding-left: 1.5em; }

  /* line 411, kekespro.scss */
  .rightColumn {
    background: #eee9e5; }

  /* line 414, kekespro.scss */
  input {
    width: 230px; } }
@media all and (min-width: 60em) {
  /* line 419, kekespro.scss */
  #results .productresult {
    width: 33%; } }
@media all and (min-width: 70em) {
  /* line 424, kekespro.scss */
  #results .productresult {
    width: 25%; } }
@media all and (min-width: 90em) {
  /* line 429, kekespro.scss */
  #results .productresult {
    width: 20%; } }
@media all and (min-width: 100em) {
  /* line 434, kekespro.scss */
  #results .productresult {
    width: 16.66%; } }
@media all and (min-width: 120em) {
  /* line 439, kekespro.scss */
  #results .productresult {
    width: 12.5%; } }

/*# sourceMappingURL=kekespro.css.map */
